You are to allow for up to 20 managers, 100 employees and 500 people. 
You and your group are to create a design tool, UMLs for each class and the program.  

public class Person{

  private String name;
  
  private String address; 

  private String phoneNum;

  private String email;
  
  

  }//End Main

}End Class
